@font-face {
  font-family: "Trajan Regular";
  src: local("Trajan Regular"),
    url(../../assets/fonts/trajan-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Garamond Pro";
  src: local("Garamond Pro"),
    url(../../assets/fonts/garamond-pro.ttf) format("truetype");
}
@font-face {
  font-family: "Garamond Pro Bold";
  font-weight: 700;
  src: local("Garamond Pro Bold"),
    url(../../assets/fonts/garamond-pro-bold.ttf) format("truetype");
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: local("BebasNeue-Regular"),
    url(../../assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}
